#project_quick_jump_box{width: 220px; }
#quick-search{width: 450px;margin-top: 14px;}

#project_quick_jump_box_chzn{color: black;float: right; position:relative; right:25px;}
#header a.chzn-single{color:black;}